<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vidéo Poker</title>
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static',filename='img/favicon.png') }}" type="image/png" />
</head>
<body>
    <img class="logo" src="{{ url_for('static',filename='img/logo.png') }}" alt="video-poker-python-flask" />
    <form method="post">
        <input name="username" type="text" placeholder="Indiquez votre pseudo" required>
        <input name="bankroll" type="number" value="O" placeholder="Indiquez votre somme de départ" required>
        <input type="submit" value="Valider">
    </form>

    <script src="{{ url_for('static',filename='script.js') }}"></script>
</body>
</html>